.msgBox {
    position: absolute;
    font-size: 50px;
    width: 100%;
    top: 50%;
    animation: 1000ms ease-in 500ms forwards;
}

@keyframes hideSlow {
    from {opacity:1}
    to {opacity:0; visibility:'hidden';}
}
